   @charset "utf-8";

   * {
       box-sizing: border-box;
   }

   html {
       overflow-y: scroll;
   }

   body {
       font-family: 'SUIT', sans-serif;
       color: #333;

   }

   a {
       text-decoration: none;
       color: #333;
   }

   .inner {
       width: 100%;
       max-width: 1400px;
       margin: 0 auto;
   }

   /* ================================= */
   /* header */
   /* ================================= */
   header {
       width: 100%;
   }

   nav {
       width: 100%;
       height: 94px;
       color: #ffff;
       position: relative;
   }

   .gnb {
       width: 100%;
       max-width: 1400px;
       margin: 0 auto;
       height: 100%;
       justify-content: space-between;
   }

   .gnb>li {
       /* 하위 a를 블럭레벨로 사용하기 위함->
        flex,grid 의 아이템 박스가 되면 블럭레벨로 표시됨 */
       display: flex;
       /*  flex-shrink: 0;
       flex-shrink: 1; */
       /* flex-shrink: 1;
       flex-grow: 1;
       flex-basis: 30%; */
       flex: 1 1 20%;
   }

   .gnb li>a {
       padding: 0 4rem;
       width: 100%;
       line-height: 94px;
       text-align: center;
       font-size: max(1.2vw, 16px);
   }

   .gnb,
   .dep2 {
       display: flex;
   }

   .w100 {
       position: absolute;
       background: #fbfbfb;
       left: 0;
       right: 0;
       top: 94px;
       box-shadow: 0 2px 2px rgb(0 0 0/7%);
       overflow: hidden;
       height: 0;
       padding: 0;
       transition: all 0.5s;
       z-index: 2;
   }

   .w100::after {
       content: '';
       position: absolute;
       height: 100%;
       background: skyblue;
       right: 50%;
       top: 0;
       left: 0;
       margin-right: 440px;
   }

   .dep2 {
       position: relative;
       z-index: 555;
   }

   .dep1:hover .w100 {
       height: auto;
       padding: 20px 0;
   }

   /* ===================================== */
   /* main */
   /* ==================================== */
   main{
    width: 100%;
    overflow: hidden;
   }
   .main_banner {
       width: 100vw;
       height: 100vh;
       background: url(https://img.freepik.com/free-photo/lovely-pet-portrait-isolated_23-2149192301.jpg) no-repeat;
       background-size: cover;
       position: relative;
       overflow: hidden;
       display: flex;
       flex-flow: column nowrap;
       justify-content: center;
       align-items: center;
   }
   .banner1{
    display: grid;
    grid-template-columns: repeat(3, minmax(30%, 1fr));
    grid-template-rows: 300px;
    gap: 10px;
   }
   .banner1 li{
    background: rgba(253, 249, 249, 0.575);
    z-index: 5555;
    text-align: center;
    font-size: 4em;
    place-content: center;
    /* align-content: center;
     */
     /* line-height: 300px; */
     /* padding: 110px 0; */
     position: relative;
   }
/*    .banner1 li i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
   }
 */
 .banner1 li::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 0%;
    background-image: linear-gradient(45deg, #47ff68, #ff47dd);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    mix-blend-mode: overlay;

 }
 .banner1 li:hover::after{
    height: 100%;
    filter: blur(10px);
 }
   .main_banner::after {
       position: absolute;
       content: '';
       background: url(../images/icon_1.png);
       left: 0;
       top: 10%;
       width: 500px;
       height: 500px;
       background-size: contain;
       animation: hue 3s 3s ease infinite alternate;
   }

   .main_banner::before {
       position: absolute;
       content: '';
       background: url(../images/icon_2.png) no-repeat;
       right: 0;
       top: 10%;
       width: 500px;
       height: 500px;
       background-size: contain;
       mix-blend-mode: multiply;
       animation: hue 3s ease infinite alternate;
   }

   @keyframes hue {
       0% {
           filter: hue-rotate(400deg);
           transform: rotate(0deg);
       }

       100% {
           filter: hue-rotate(180deg);
           transform: rotate(360deg);
       }
   }

   .obj1 {
       position: absolute;
       content: '';
       width: 200px;
       height: 400px;
       border-radius: 100px;
       background: ivory;
       left: 20%;
       top: 20%;

   }

   .obj1::before {
       position: absolute;
       content: '';
       width: 200px;
       height: 400px;
       border-radius: 100px;
       background: ivory;
       left: -50%;
       top: 70%;
       transform: rotate(270deg);
       transform-origin: 10px 10px;
   }
