.wrap {
    background-color: #f0f0f0;
    width: 600px;
    height: 200px;
}

.box {
    position: absolute;
    left: 70px;
    top: 70px;
    width: 60px;
    height: 60px;
}
.box1{
        position: absolute;
    left: 70px;
    top: 100px;
    width: 60px;
    height: 60px;

}
.box::before {
    content: url('../../img/dog3D.png');
    display: block;
    offset: path("M1 97.0001C1 94.3501 2.98 89.0201 6.82 84.0201C10.3278 79.4527 13.64 71.0601 19.14 61.8751C29.5476 44.4944 33.98 37.0201 36.325 33.0151C37.6347 30.7783 39.66 29.0101 41.485 27.6751C42.4656 26.9578 44.3 27.6601 45.645 28.4901C51.2089 31.9236 52.98 39.6401 59.31 49.9601C63.1519 56.2237 66.98 62.3001 70.985 67.4801C76.2172 74.2474 82.3 79.9801 88.645 81.3301C91.1257 81.8579 94.31 83.0001 98.305 82.3401C106.515 80.9838 108.64 64.3801 112.985 52.8751C115.894 45.1713 120.3 33.4201 122.33 25.6851C123.887 19.7514 126.66 17.0101 129.31 15.5101C133.935 12.8922 138.99 15.6601 141.48 17.9801C148.882 24.8768 150.32 30.6401 152.16 36.8101C153.852 42.4851 156.32 47.6401 157.495 53.6451C158.57 59.1379 161.32 64.6401 162.165 68.9851C162.557 71.0028 163.99 74.6401 165.985 78.8051C166.774 80.4523 167.98 80.6601 170.14 78.5201C182.202 66.57 184.64 56.0401 188.155 48.1951C191.363 41.0349 194.64 33.0401 198.155 24.2001C201.166 16.628 205.32 13.0201 208.985 10.5051C213.339 7.51714 219.64 18.9801 237.43 40.4101C246.222 51.0008 249.62 62.9201 253.16 71.6451C255.215 76.7091 258.66 79.9901 260.65 80.9951C267.173 84.2893 277.92 66.7601 289.3 50.5551C297.125 39.4121 307.26 21.4601 312.82 12.6751C316.406 7.00957 331.24 24.2601 341.97 33.6401C348.615 39.4492 351.66 42.9801 355.65 47.9801C359.296 52.5485 361.98 57.6401 366.485 66.1351C367.927 68.8545 368.99 71.3201 371.15 73.4851C372.169 74.5068 373.64 74.6601 374.65 74.3351C379.136 72.8915 381.98 66.3601 386.15 60.3551C390.4 54.235 395.64 47.3601 401.645 38.2001C408.922 27.0996 426.64 15.0201 430.655 11.0151C432.237 9.43755 432.99 7.01014 435.15 5.34514C439.786 1.77119 445.98 2.00014 451.475 1.49514C456.644 1.02008 458.99 9.31014 461.645 14.4601C464.997 20.9614 473.61 34.5601 482.77 51.2201C489.905 64.1971 496.3 76.6201 500.82 82.3151C502.32 85.3001 504.32 88.9801 506.485 92.4751C507.33 93.9901 507.66 94.9801 508 96.0001");
    animation: move 3s ease infinite alternate;
}
@keyframes move {
    0%{
        offset-distance: 0%;
    }
    100%{
        offset-distance: 100%;
    }
}

