@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

body {
  background-color: rgb(228, 247, 255);
  color: darkblue;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Nanum Gothic', sans-serif;
}

.notice .promotion {
  height: 740px;
  background-color: #3e85a3;
  position: relative;
  overflow-x: hidden;
}

.promotion .swiper-container {
  width: calc(420px * 3 + 20px);
  height: 540px;
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
}

.promotion .swiper-slide {
  opacity: 0.2;
  transition: opacity 1s;
  position: relative;
}

.promotion .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.promotion .swiper-slide.swiper-slide-active {
  opacity: 1;
}

.swiper-prev,
.swiper-next {
  z-index: 999999;
  user-select: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.material-symbols-outlined {
  font-size: 80px;
  color: white;
}

.swiper-prev {
  left: 0;
}

.swiper-next {
  right: 0;
}