.container{
    display: flex;
}
#opt1{
    flex-wrap: nowrap;
}
#opt2{
    flex-wrap: wrap;
}
#opt3{
    flex-wrap: wrap-reverse;
}
#opt4{
    flex-flow: row wrap;
    flex-flow: row nowrap;
    flex-flow: column wrap;
}