@charset 'utf-8';

.fl {
    float: left;
}

.cf::after {
    content: '';
    display: block;
    clear: both;
}

header {
    background-color: rgb(165, 97, 9);
}

main {
    background-color: blue;
}

footer {
    background-color: green;
}

nav {
    background-color: #64cc2f;
}

section {
    background-color: #ff2ba0;
}

aside {
    background-color: #11e623;
}

.wrap {
    width: 500px;
    margin: 0 auto;
}